.git
.github
node_modules
dist
.astro
.vercel
.netlify
.env
.env.*
.DS_Store
src/.DS_Store
public/.DS_Store
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
Dockerfile
docker-compose*.yml
README.md
